<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of most popular themes</title>
</head>
<body>
{% if themes %}
    <ul>
        {% for theme in themes %}
            <li>{{ theme.id }} - {{ theme.name }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No themes are available.</p>
{% endif %}
</body>
</html>